p, h1, h2, h3 {
    color: black;
}

a:link {
  color: black;
}


a:visited {
  color: grey;
}


a:hover {
  color: hsl(212, 100%, 50%);
}


a:active {
  color: rgb(81, 201, 117);
}

.Ul {
 display: flexbox;
 position: relative;
 margin: 100px auto 0;
 padding: 10px;
}

.Ul .Li{
 display: grid;
 padding: 10px 20px;
 background-color: rgb(240, 238, 238);
 border: 1px solid rgb(131, 128, 128);
 padding: 20px;
 transition: .5s;
 text-align: center;
}

.Ul .Li:hover{
 transform: scale(1.06);
 background-color: rgb(144, 141, 141)
}

.showBtn {
    padding: 0.3em 1em;
    text-decoration: none;
    color: #97a6af;
    border: solid 2px #3c3e3f;
    border-radius: 3px;
    transition: .4s;
    margin: 0px 5px 40px 5px;
}

.showBtn:hover {
  background: #33cee2;
    color: white;  
}


.userSpan {
 display: flex;
 justify-content: right;
}

.comment_Username{
 font-size:14px;
 font-weight: bold;
}

.comment_Ul {
 position: relative;
 margin: 100px auto 0;
 padding: 10px;
}

.comment_Li {
 display: grid;
 position: relative;
 padding: 5px 5px;
 background-color: rgb(240, 238, 238);
 border: 1px solid rgb(131, 128, 128);
 padding: 20px;
 transition: .5s;
 margin: 10px 10px 10px 10px 
}

.article_Title, .timeLikes, .articleListComments{
    padding: 0.5em 0.5em;
}
.article_Title{
    font-weight: bold;
}
.btn_delete{
    padding: 0.3em 1em;
    text-decoration: none;
    color: #e71b1b;
    border: solid 2px #3c3e3f;
    border-radius: 3px;
    transition: .4s;
    margin: 1px 1px 1px 1px;
}
.btn_like{
    padding: 0.3em 1em;
    text-decoration: none;
    color: #97a6af;
    border: solid 2px #3c3e3f;
    border-radius: 3px;
    transition: .4s;
    margin: 1px 1px 1px 1px;
}
.btn_dislike{
   padding: 0.3em 1em;
    text-decoration: none;
    color: #97a6af;
    border: solid 2px #3c3e3f;
    border-radius: 3px;
    transition: .4s;
    margin: 1px 1px 1px 1px;
}


.delete_container{
    margin: 1px 1px 1px 1px;
}

.btn_dislike:hover {
    background: rgb(255, 187, 0);
    color: white;
}
.btn_like:hover {
    background: #33e26d;
    color: white;
}
.btn_delete:hover {
    background: red;
    color: white;
}


.btn_like:disabled,
.btn_like[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn_dislike:disabled,
.btn_dislike[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.infobox {
 position: relative;
 max-width: 450px;
 height: auto;
 background: 40px;
 font-size: 14px;
 line-height: 1.7;
 margin: 50px auto;
 box-sizing: border-box;
 border: 4px solid rgb(77, 77, 77);
 padding: 10px;
}


.infobox:after, .infobox:before {
 position: absolute;
 content: '';
 width: 0;
 height: 0;
 top: 100%;
 left: 50%;
}

.infobox:after {
 border-top: 20px solid #f3f1f1;
 border-right: 20px solid transparent; 
 border-bottom: 20px solid transparent; 
 border-left: 20px solid transparent; 
 margin-left: -20px;
}

.infobox:before {
 border-top: 25px solid black;
 border-right: 25px solid transparent; 
 border-bottom: 25px solid transparent; 
 border-left: 25px solid transparent; 
 margin-left: -25px;
}

.icon {
    margin-left: auto;
}

.user{
    font-weight: bold;
    font-size: large;
}

.user_Icon{
    margin-left: auto;   
}

.homepage{
    display: flexbox;
    position: relative;
    text-align: center;
    justify-content: center;
}


.signUpButton, .browseButton {
  border-radius: 4px;
  background-color: #626364;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.signUpButton, .browseButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.signUpButton, .browseButton span:after {
  content: '\00bb';
  position: relative;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.signUpButton, .browseButton:hover span {
  padding-right: 25px;
}

.signUpButton, .browseButton:hover span:after {
  opacity: 1;
  right: 0;
}
