@keyframes ldio-iupe6kelu2 {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-iupe6kelu2 div > div {
  position: fixed;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #353535;
  animation: ldio-iupe6kelu2 1.2987012987012987s linear infinite;
}.ldio-iupe6kelu2 div:nth-child(1) > div {
  left: 144px;
  top: 88px;
  animation-delay: -1.1363636363636362s;
}
.ldio-iupe6kelu2 > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 156px 100px;
}.ldio-iupe6kelu2 div:nth-child(2) > div {
  left: 128px;
  top: 128px;
  animation-delay: -0.974025974025974s;
}
.ldio-iupe6kelu2 > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 140px 140px;
}.ldio-iupe6kelu2 div:nth-child(3) > div {
  left: 88px;
  top: 144px;
  animation-delay: -0.8116883116883117s;
}
.ldio-iupe6kelu2 > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 156px;
}.ldio-iupe6kelu2 div:nth-child(4) > div {
  left: 48px;
  top: 128px;
  animation-delay: -0.6493506493506493s;
}
.ldio-iupe6kelu2 > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 60px 140px;
}.ldio-iupe6kelu2 div:nth-child(5) > div {
  left: 32px;
  top: 88px;
  animation-delay: -0.487012987012987s;
}
.ldio-iupe6kelu2 > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 44px 100px;
}.ldio-iupe6kelu2 div:nth-child(6) > div {
  left: 48px;
  top: 48px;
  animation-delay: -0.3246753246753247s;
}
.ldio-iupe6kelu2 > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 60px 60px;
}.ldio-iupe6kelu2 div:nth-child(7) > div {
  left: 88px;
  top: 32px;
  animation-delay: -0.16233766233766234s;
}
.ldio-iupe6kelu2 > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 44px;
}.ldio-iupe6kelu2 div:nth-child(8) > div {
  left: 128px;
  top: 48px;
  animation-delay: 0s;
}
.ldio-iupe6kelu2 > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 140px 60px;
}
.loadingio-spinner-spin-pssc9fth0uk {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-iupe6kelu2 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-iupe6kelu2 div { box-sizing: content-box; }








@keyframes ldio-z8ljbnn8kqj {
    0%    { transform: translate(2px,2px) }
   33.33% { transform: translate(102px,2px) }
   66.66% { transform: translate(42px,102px) }
  100%    { transform: translate(2px,2px) }
}


.ldio-z8ljbnn8kqj > div {
  transform: scale(0.8);
  transform-origin: 100px 100px;
}

.ldio-z8ljbnn8kqj > div > div {
  animation: ldio-z8ljbnn8kqj 1s linear infinite;
  position: absolute
}

.ldio-z8ljbnn8kqj > div > div div:nth-child(1) {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 12px solid #353535;
  background: #666666
}

.ldio-z8ljbnn8kqj > div > div div:nth-child(2) {
  width: 17px;
  height:  51px;
  transform: rotate(-45deg);
  background: #353535;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 68px;
  left: 85px
}
.loadingio-spinner-magnify-kp2bi28enas {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-z8ljbnn8kqj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-z8ljbnn8kqj div { box-sizing: content-box; }



@keyframes ldio-g55rece2tpi-1 {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(-45deg) }
  100% { transform: rotate(0deg) }
}
@keyframes ldio-g55rece2tpi-2 {
    0% { transform: rotate(180deg) }
   50% { transform: rotate(225deg) }
  100% { transform: rotate(180deg) }
}
.ldio-g55rece2tpi > div:nth-child(2) {
  transform: translate(-15px,0);
}
.ldio-g55rece2tpi > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #182731;
  animation: ldio-g55rece2tpi-1 1s linear infinite;
  transform-origin: 60px 60px
}
.ldio-g55rece2tpi > div:nth-child(2) div:nth-child(2) {
  animation: ldio-g55rece2tpi-2 1s linear infinite
}
.ldio-g55rece2tpi > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}@keyframes ldio-g55rece2tpi-3 {
    0% { transform: translate(190px,0); opacity: 0 }
   20% { opacity: 1 }
  100% { transform: translate(70px,0); opacity: 1 }
}
.ldio-g55rece2tpi > div:nth-child(1) {
  display: block;
}
.ldio-g55rece2tpi > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #a7d4ec;
  animation: ldio-g55rece2tpi-3 1s linear infinite
}
.ldio-g55rece2tpi > div:nth-child(1) div:nth-child(1) { animation-delay: -0.67s }
.ldio-g55rece2tpi > div:nth-child(1) div:nth-child(2) { animation-delay: -0.33s }
.ldio-g55rece2tpi > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-32uepojxxbn {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-g55rece2tpi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-g55rece2tpi div { box-sizing: content-box; }





 